@charset "UTF-8";

body
{
    background-color: rgb(141, 140, 140);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1
{
    color: blueviolet;
}
h2
{
    text-decoration-line: underline;
}
p
{
    text-align: right;
}